extends layout

block content
  h1 API For french Public Database Medication
  p.lead Data source (base de données publique des médicaments http://base-donnees-publique.medicaments.gouv.fr/) updated on 15/06/2020 
  p.lead(href="http://base-donnees-publique.medicaments.gouv.fr/")  http://base-donnees-publique.medicaments.gouv.fr/